In [2]:
#Drop Tables
DROP TABLE IF EXISTS departments
DROP TABLE IF EXISTS dept_emp
DROP TABLE IF EXISTS dept_manager
DROP TABLE IF EXISTS titles
DROP TABLE IF EXISTS employees
DROP TABLE IF EXISTS salaries

#Create Tables
CREATE TABLE departments(
dept_no varchar PRIMARY Key,
dept_name varchar
);

CREATE TABLE dept_emp(
emp_no varchar NOT NULL,
dept_no VARCHAR NOT NULL,
PRIMARY KEY (emp_no, dept_no),
FOREIGN KEY (emp_no) REFERENCES employees(emp_no),
FOREIGN KEY (dept_no) REFERENCES departments(dept_no)
);

CREATE TABLE dept_manager(
dept_no VARCHAR NOT NULL,
emp_no Varchar NOT NULL,
PRIMARY KEY (dept_no, emp_no),
FOREIGN KEY (dept_no) REFERENCES departments(dept_no),
FOREIGN KEY (emp_no) REFERENCES employees(emp_no)
);

CREATE TABLE employees(
emp_no varchar PRIMARY KEY,
emp_title_id  VARCHAR NOT NULL,
birth_date VARCHAR NOT NULL,
first_name VARCHAR NOT NULL,
last_name VARCHAR NOT NULL,
sex VARCHAR NOT NULL,
hire_date VARCHAR NOT NULL,
FOREIGN KEY (emp_title_id) REFERENCES titles(title_id)
);

CREATE TABLE salaries(
emp_no Varchar PRIMARY KEY,
salary INT NOT NULL,
FOREIGN KEY(emp_no)REFERENCES employees(emp_no)
);

CREATE TABLE titles(
title_id VARCHAR PRIMARY KEY,
title VARCHAR NOT NULL
);

SyntaxError: invalid syntax (3830297533.py, line 2)